{
  "presets": [
    "react",
    [
      "env",
      {
        modules: false,
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        "env"
      ],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    },
  },
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
